.movies-scroll-wrapper {
  width: 100%;
  overflow-x: auto; 
  overflow-y: hidden;
  box-sizing: border-box;
  padding: 0 0px; 
}

.movies-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 12px;
  scroll-behavior: smooth;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.movies-scroll::-webkit-scrollbar {
  height: 6px;
}


