# Copy this file to `.env` and fill in values
# cp .env.example .env

# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/moviedb?schema=public"

# TMDB API
# Go here and register to get Key and Token 'https://www.themoviedb.org'
TMDB_API_KEY=your_tmdb_api_key_here
TMDB_TOKEN=your_tmdb_read_access_token_here

# Authentication
# to generate run this 'openssl rand -base64 64'
JWT_SECRET=your_jwt_secret_here